annotated-types==0.7.0
certifi==2024.12.14
chardet==4.0.0
charset-normalizer==3.4.1
glocaltokens==0.6.2
gpsoauth==1.0.2
grpcio==1.43.0
idna==2.10
ifaddr==0.2.0
isodate==0.7.2
protobuf==3.19.4
pycryptodomex==3.21.0
pydantic==2.7.4
pydantic_core==2.18.4
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.25.1
simplejson==3.19.3
six==1.17.0
typing_extensions==4.12.2
urllib3==1.26.5
zeroconf==0.36.13